<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.ArticleMapper">

  <select id="selectArticles" resultType="board.Article">
    select * from article
  </select>
  
  <insert id="addArticle1" parameterType="map">
  	INSERT INTO article 
	SET title = #{title},
	`body` = #{body},
	`mid` = #{mid},
	hit = 0,
	regDate = NOW()
  </insert>
  
  <insert id="addArticle2" parameterType="board.Article">
  	INSERT INTO article 
	SET title = #{title},
	`body` = #{body},
	`mid` = #{mid},
	hit = 0,
	regDate = NOW()
  </insert>
  
  <select id="getReplyById" parameterType="int" resultType="board.Reply">
  	select * from reply where id = #{id}
  </select>
  
  <update id="updateReplyById" parameterType="board.Reply">
  	update reply set body = #{body} where id = #{id}
  </update>
  
  <select id="searchArticles" parameterType="map" resultType="board.Article">
  	SELECT * 
  	FROM article 
  	WHERE 1=1
  	<if test="dateInterval != 'all'" >
  		AND regDate BETWEEN DATE_ADD(NOW(), INTERVAL ${dateInterval}) AND NOW()
  	</if>
  	<choose> 
  		<when test="sTarget != 'titleAndbody'" > 
  			AND ${sTarget} LIKE '%${keyword}%' 
  		</when> 
  		<otherwise> 
  			AND (title LIKE '%${keyword}%' OR body LIKE '%${keyword}%') 	
  		</otherwise> 
  	</choose>
  </select>
  
</mapper>